body {
    font-family: "Lato", sans-serif;
  }
  
  :root {
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-hover: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-sent-message: #d5f9ba;
    --color-notification: #8edafc;
    --my-bg-color: linear-gradient(
      to bottom,
      #009688 0%,
      #009688 20%,
      #dbdbd3 20%,
      #dbdbd3 100%
    );
    --background: linear-gradient(180deg, #009688 18.55%, #D9DBDS 18.56%)
  }
  #app {
    width: 100%;
    height: 100vh;
    background: var(--my-bg-color);
    padding: 20px;
  }
  
  .contacts {
    background-color: var(--color-white);
  }

  .h0{
    height: 0;
  }

  img{
    width: 55px;
    border-radius: 50%;
  }

  .bg-chat{
    background-image: var(--background);
  }

  .bell{
    border-radius: 50%;
    background-color: white;
    padding: 9px;
  }

  .chat:hover{
    background-color: var(--color-contact-hover);
  }
/*BACKGROUND*/
  .bg-notifiche {
    background-color: #8edafc;
  }

  .bg-chat{
    background-image: url(img/mine.jpg);
  }

  .header {
    background-color: var(--color-headers);
  }
  
 
/*//////////////////////////////////////////////////////////////////////*/

  .msg-sent{
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color-text-grey);
  }

  .msg-recived{
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color-sent-message);
  }